.input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-family: "AmaticSC-Regular", sans-serif;
  line-height: 1.5;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.buttonMenu {
  display: flex;
  justify-content: space-between;
}
